<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p style="font-size:35px">Welcome to <%= title %></p>
    <p> Please go to <a href="http://localhost:3000/search"> for search  </a> and <a href="http://localhost:3000/add"/> for adding </a>your name in our databases</p>
  </body>

</html>
